---
import PageLayout from "../layouts/PageLayout.astro";
import Config from "../sarissa.config.cjs";
---

<PageLayout pageTitle="このサイトについて">
  <article class="prose max-w-none">
    <p>
      このサイトは、三上涼風が運営するフリー音楽素材サイトです。
    </p>

    <p>
      もともと音楽を作ってニコニコ動画やYouTubeに投稿していましたが、せっかくなら作った曲をもっと役立てたいと思い、このサイトを立ち上げました。
    </p>

    <p>
      当サイトは、
      <ul>
        <li>すべての素材が無料</li>
        <li>個人、商用問わず利用可</li>
        <li>ゲーム、YouTube、PV、舞台、イベントなど用途問わず利用可</li>
        <li>利用報告不要</li>
        <li>著作権表記、クレジット表記不要</li>
        <li>編集、アレンジ、歌入れなど自由に加工OK</li>
      </ul>
      と緩やかなルールになっていますので、じゃんじゃん使って頂けると嬉しいです。
    </p>

    <p>
      守ってほしいルールは2つだけです。
      <ul>
        <li>自分で作った曲だと偽る行為はしないでください（著作権は放棄していません）</li>
        <li>素材への直リンクはお控えください（ダウンロードしてお使いください）</li>
      </ul>
      これら2つのルールさえ守って頂ければ、誰でもどんなコンテンツにでも自由に使って頂いて構いません。気に入った素材を好きなだけ使ってください。
    </p>

    <p>
      私の音楽素材があなたのお役に立てればとても嬉しいです。
    </p>
  </article>
</PageLayout>
