---
import Config from "../sarissa.config.cjs";
import {capitalize,getCategoryColour} from "../sarissaUtils";

const { category } = Astro.props;
const countVisibility = Config.categorySettings.countVisibility;

---

<a href={`../category/${category.name}/1`}>
  <div class="block p-3 hover:bg-gray-100">
    <h2 class="card-title justify-center text-base">#{capitalize(category.name)}
      {countVisibility &&    
        <div class="justify-center">
          <button class="text-sm bg-blue-100 text-blue-800 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">
            {category.count}
          </button>
        </div>
      }
    </h2>
  </div>
</a>
